<!--比赛中显示的题目、提交记录、排行榜信息-->
<div class="row">
    <div class="column">
        <div class="ui buttons">
            <a class="ui small yellow button" href="<%= syzoj.utils.makeUrl(['contest', contest.id]) %>">题目</a>
            <% if(seeRanklist && contest.type != 'test' ) { if(contest.ended){%>
            <a class="ui small blue button" href="<%= syzoj.utils.makeUrl(['contest', contest.id, 'ranklist', 1]) %>">赛时排行榜</a>
            <% }else{ %>
                <a class="ui small blue button" href="<%= syzoj.utils.makeUrl(['contest', contest.id, 'ranklist', 1]) %>">排行榜</a>
            <% }} %>
            <% let submissionsUrl = syzoj.utils.makeUrl(['contest', contest.id, 'submissions']); %>
            <a class="ui small positive button" href="<%= submissionsUrl %>">提交记录</a>
            <% if(seeRanklist) { if(contest.type == 'test'){ %>
            <a class="ui small blue button" href="<%= syzoj.utils.makeUrl(['contest', contest.id, 'ranklist', 2]) %>">排行榜</a>
            <%}else if(contest.ended){%>
            <a class="ui small blue button" href="<%= syzoj.utils.makeUrl(['contest', contest.id, 'ranklist', 2]) %>">赛后排行榜</a>
            <% }} %>
            <% if (isSupervisior) { %>
            <a class="ui small orange button" href="<%= syzoj.utils.makeUrl(['contest', contest.id, 'export_score']) %>">导出成绩</a>
            <% if(contest.type !== 'test' && syzoj.config.display_statistics) {%>
                <a class="ui small purple button" href="<%= syzoj.utils.makeUrl(['contest', contest.id, 'statistics']) %>">添加统计</a>
            <% } %>
            <a class="ui small button" href="<%= syzoj.utils.makeUrl(['contest', contest.id, 'edit']) %>">编辑比赛</a>
            <% } %>
        </div>
    </div>
</div>
